JPype1==0.6.3
konlpy==0.4.4
numpy==1.14.3
selenium==3.12.0
appnope==0.1.0
backcall==0.1.0
boto==2.48.0
boto3==1.7.35
botocore==1.10.35
bz2file==0.98
cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
docutils==0.14
gensim==3.4.0
google-api-core==1.2.0
google-auth==1.5.0
google-cloud-language==1.0.2
googleapis-common-protos==1.5.3
grpcio==1.12.1
idna==2.6
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.0
jmespath==0.9.3
JPype1==0.6.3
jupyter-client==5.2.3
jupyter-core==4.4.0
kiwisolver==1.0.1
konlpy==0.4.4
matplotlib==2.2.2
numpy==1.14.3
parso==0.2.1
pexpect==4.6.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
ptyprocess==0.5.2
pyasn1==0.4.3
pyasn1-modules==0.2.1
Pygments==2.7.4
PyMySQL==0.8.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
pyzmq==17.0.0
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.1.0
selenium==3.12.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
smart-open==1.5.7
SQLAlchemy==1.2.8
tornado==5.0.2
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
